    {% load static %}
                    {% for items in cat %}
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="{{ items.images.url }}" class="img-fluid product-thumbnail">
							<h3 class="product-title">{{ item.name }}</h3>
							<strong class="product-price">$50.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div>
					{% endfor %}